# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# --------------------
# Virtual Environments
# --------------------
venv/
env/
.venv/

# --------------------
# Environment & Secrets
# --------------------
.env

# --------------------
# Alembic Migrations Cache
# --------------------
app/alembic/__pycache__/
app/alembic/versions/__pycache__/
