# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.db
*.sqlite3

# --------------------
# Virtual Environments
# --------------------
venv/
env/
.venv/

# --------------------
# Environment & Secrets
# --------------------
.env
.env.*
*.pem
*.key

# --------------------
# IDE / Editor Files
# --------------------
.idea/
*.code-workspace

# --------------------
# Alembic Migrations Cache
# --------------------
app/alembic/__pycache__/
app/alembic/versions/__pycache__/

# --------------------
# Logs & Temp Files
# --------------------
*.log
.DS_Store
Thumbs.db
__pypackages__/
.cache/
.mypy_cache/
pytest_cache/

